@import "/packages/bootstrap3-less/bootstrap.lessimport";

@purple: #9b59b6;
@black: #272822;
@gray: #bdc3c7;
@raspberry: #990033;

body {
    background: @purple;
}

#sources {
    a {
        width: 100%;
        font-size: 20px;
        color: lighten(@purple, 20%);
        line-height: 50px;
        display: block;
        padding: 0 10px;
        &:hover {
            text-decoration: none;
            background: lighten(@purple, 5%);
            span.title {
                color: white;
            }
        }
        span.title {
            color: lighten(@purple, 30%);
            margin: 0;
            margin-left: 10px;
        }
        img.author {
            @size: 30px;
            height: @size;
            width: @size;
            border-radius: @size / 2; 
            margin-bottom: 1px;
        }
    }
    a:hover {
    }
}

#user #signin:hover {
    text-decoration: none;
    color: lighten(@purple, 40%);
}
#annotateBtn {
    background-color: @raspberry;
}

#index {
    h1, h2 {
        width: 100%;
        text-align: center;
    }
    h1 {
        @font-size: 80px;
        margin-top: 100px;
        font-size: @font-size;
        .source {
            font-family: Consolas, Monaco, 'Andale Mono', monospace;
            color: lighten(@purple, 10%);
        }
        .genius {
            color: lighten(@purple, 30%);
            font-size: @font-size + 10;
        }
    }
    h2 {
        @color: lighten(@purple, 5%);
        color: @color;
        a {
            color: @color;
            font-size: 40px;
            display: block;
            &:hover {
                color: lighten(@color, 10%);
            }
        }
    }
}

header {
    padding: 10px 0;
    ul.actions {
        list-style: none;
        margin: 0;
        &.right {
            float: right;
        }
        &.left {
            float: left;
            padding-left: 0;
        }
        li {
            float: left;
            margin: 0 5px;
            color: lighten(@purple, 10%);
            span {
                color: lighten(@purple, 10%);
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }

            #user{
                min-height:50px;
                min-width:50px;
                .sign-out {
                    position: relative;
                    &:hover {
                        &:after {
                            display: block;
                        }
                    }
                    &:after {
                        content: "sign out";
                        position: absolute;
                        background: white;
                        display: block;
                        bottom: -34px;
                        display: none;
                        width: 50px;
                        font-size: 10px;
                        left: -12px;
                        text-align: center;
                        padding: 3px;
                    }
                }
                #propic, #octocat {
                    @size: 25px;
                    width: @size;
                    height: @size;
                    border-radius: @size / 2;
                }
                a {
                    color: lighten(@purple, 10%);
                    font-weight: bold;
                }
            }
        }
    }    
}

.github {
    h3 {
        color: white;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
    }
    input {
        width: 90%;
        height: 35px;
        background: @black;
        color: white;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        padding: 10px;

        float:left;
    }
    button {
        float:right;
        width:10%;
        height:35px;
        background: @black;
        color: white;
    }
    .item-container {
        position: relative;
        span.glyphicon {
            position: absolute;
            top: 9px;
            left: 10px;
            color: lighten(@purple, 15%);
        }
        background: lighten(@purple, 5%);
        &:hover {
            background: lighten(@purple, 10%);
            span {
                color: white;
            }
        }
    }
    .itemrow {
        color: white;
        height:35px;
        width:90%;
        margin: 10px 0;
        padding-left:10px;
        padding-right:10px;
        vertical-align: middle;
        line-height: 35px;
        cursor:pointer;
        position: relative;
        left: 25px;
    }
}

.newFile {
    #title {
        font-size: 30px;
        @color: lighten(@purple, 20%);
        background: transparent;
        border: none;
        box-shadow: none;
        color: @color;
        outline: none;
        &:active {
            outline: none;
        }
        &::-webkit-input-placeholder { /* WebKit browsers */
            color: darken(@color, 10%);
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: darken(@color, 10%);
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: darken(@color, 10%);
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: darken(@color, 10%);
        }
    }
    .text-container {
        position: relative;
        textarea {
            width: 100%;
            height: 500px;
            background: transparent;
            color: white;
            text-shadow: none;
            font-family: Consolas, Monaco, 'Andale Mono', monospace;
            direction: ltr;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            
            -webkit-hyphens: none;
            -moz-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
            &:focus, &:active {
                border: none;
                outline: none;
            }
            &::-webkit-input-placeholder { 
                color: darken(@purple, 10%);
                text-shadow: none;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: darken(@purple, 10%);
                text-shadow: none;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: darken(@purple, 10%);
                text-shadow: none;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: darken(@purple, 10%);
                text-shadow: none;
            }
        }
    }
    #submit-new-file {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 20px;
        color: lighten(@purple, 10%);
        cursor: pointer;
        &:hover {
            color: lighten(@purple, 20%);
        }
    }
}

.code-container {
    .snippet {
        background: @black;
        padding: 20px;
        border-radius: 10px;

        .emptyLine {
            height: 18px;
            pre {
                border: none;
                border-radius: 0;
                margin: 0;
                height: 16px;
                padding: 0;
                code {
                    padding: 0;
                    margin: 0;
                    height: 20px;
                    text-shadow: none;
                }
            }
        }

        .line {
            &.selected {
                background: darken(@purple, 30%);
            }
            &:hover {
                background: lighten(@black, 10%);
                cursor: pointer;
                &:not(.annotated) {
                    pre { background: lighten(@black, 10%); }
                }
            }
            &.annotated {
                pre {
                    background: lighten(@black, 10%);
                    position: relative;
                    &:hover {
                        &:after {
                            color: #3498db;
                        }
                    }
                    &:after {
                        content: "...";
                        position: absolute;
                        right: 5px;
                        bottom: 1px;
                        font-size: 10px;
                        text-shadow: none;
                    }
                }
            }
            pre {
                border: none;
                border-radius: 0;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                code {
                    padding: 0;
                    margin: 0;
                    height: 20px;
                    text-shadow: none;
                }
            }
        }
    }
}


.annotations {
    display: none;
    @color: white;
    background: @color;
    position: absolute;
    z-index: 3;
    padding: 20px;
    width: 400px;
    @border-size: 30px;
    @border-offset: 30px;
    margin-top: -(@border-offset + @border-size);
    &:before {
        content: " ";
        position: absolute;
        top: @border-offset;
        left: -@border-size;
        border-top: transparent @border-size solid;
        border-right: white @border-size solid;
    } 
    &:after {
        content: " ";
        position: absolute;
        top: @border-size + @border-offset;
        left: -@border-size;
        border-top: white @border-size solid;
        border-left: transparent @border-size solid;
    }
    .annotation {
        background: darken(#FFF, 10%);
        padding: 10px;
        position: relative;
        margin: 10px 0;
        textarea {
            width: 100%;
            background: transparent;
            padding: 0;
            margin: 0;
        }
        .author {
            margin-top: 20px;
            float: right;
            @size: 17px;
            img, .handle {
                float: left;
                margin: 0 auto;
            }
            .handle {
                line-height: @size;
                margin-left: 5px;
                font-style: italic;
            }
            img {
                margin: auto;
                background: @purple;
                height: @size;
                width: @size;
                border-radius: @size / 2;
            }
        }
        .actions {
            position: absolute;
            bottom: 5px;
            left: 10px;
            span {
                color: white;
                &:hover {
                    color: darken(white, 30%);
                }
            }
        }
    }
    .clear { clear: both; }
    .add {
        h1 {
            margin: 0;
        }
        textarea#annotation {
            width: 100%;
            height: 100px;
        }
        button {
            margin-top: 20px;
            background: #3498db;
            border: none;
            border-radius: 0;
            padding: 14px;
            font-size: 20px;
            color: white;
        }
    }

}

textarea {
    resize: none;
    border: none;
    outline: none;
    &:active {
        outline: none;
    }
}
