@import "/packages/bootstrap3-less/bootstrap.lessimport";

@purple: #9b59b6;
@black: #272822;
@gray: #bdc3c7;

body {
    background: @purple;
}

header {
    margin-bottom: 100px;
    padding: 10px;
    ul.actions {
        list-style: none;
        float: right;
        li {
            float: left;
            margin: 0 10px;
            color: lighten(@purple, 10%);
            span {
                color: lighten(@purple, 10%);
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }
    }    
}

.newFile {
    textarea {
        width: 100%;
        height: 500px;
        background: @black;
        color: white;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        padding: 10px;
        &:focus, &:active {
            border: none;
            outline: none;
        }
    }
}

.code-container {
    .snippet {
        background: @black;
        padding: 20px;
        border-radius: 10px;
        .line {
            &:hover {
                opacity: .8;
                cursor: pointer;
                &:not(.annotated) {
                    pre { background: lighten(@black, 10%); }
                }
            }
            &.annotated {
                pre {
                    background: lighten(@black, 10%);
                    border-radius: 3px;
                    position: relative;
                    &:hover {
                        &:after {
                            color: @purple;
                        }
                    }
                    &:after {
                        content: "...";
                        position: absolute;
                        right: 5px;
                        bottom: 1px;
                        font-size: 10px;
                        text-shadow: none;
                    }
                }
            }
            pre {
                border: none;
                border-radius: 0;
                margin: 0;
                padding-top: 2px;
                padding-bottom: 3px;
                code {
                    padding: 0;
                    margin: 0;
                    height: 20px;
                    text-shadow: none;
                }
            }
        }
    }

    .annotation {
        @color: white;
        background: @color;
        position: absolute;
        right: 100px;
        top: 100px;
        z-index: 3;
        padding: 40px;
        width: 400px;
        @border-size: 30px;
        @border-offset: 30px;
        &:before {
            content: " ";
            position: absolute;
            top: @border-offset;
            left: -@border-size;
            border-top: transparent @border-size solid;
            border-right: white @border-size solid;
        } 
        &:after {
            content: " ";
            position: absolute;
            top: @border-size + @border-offset;
            left: -@border-size;
            border-top: white @border-size solid;
            border-left: transparent @border-size solid;
        }
        .author {
            margin-top: 20px;
            .photo {
                @size: 75px;
                img {
                    margin: auto;
                    background: @purple;
                    height: @size;
                    width: @size;
                    border-radius: @size / 2;
                }
            }
            .info {
                margin-top: 5px;
                .name, .handle {
                    margin: 0;
                }
            }
        }
    }
}
